<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="fragments/head::head"></head>

<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-behavior="sticky">
<div class="wrapper">

    <nav th:replace="fragments/admin/leftNav::leftNav"></nav>

    <div class="main">
        <nav th:replace="fragments/topNav::topNav"></nav>

        <main class="content">
            <div class="container-fluid p-0">

                <div style="margin-bottom: 50px">
                    <ul class="nav nav-pills card-header-pills pull-right" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active disabled">Edycja</a>
                        </li>
                    </ul>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="row justify-content-md-center">
                            <div class="col-md-8">
                                <div class="row">
                                    <div th:if="${message != null}" class="container">
                                        <div class="row justify-content-md-center">
                                            <div style="width: 100%"
                                                 class="col col-lg-4 alert alert-dismissible"
                                                 role="alert"
                                                 th:classappend="${messageType}"
                                            >
                                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                        aria-label="Close"></button>

                                                <div class="alert-message">
                                                    <span th:text="${message}"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <form th:action="@{edit}" th:object="${editDto}" method="post">
                                        <input type="hidden" th:field="*{id}">

                                        <div class="card-body">
                                            <div class="row g-2">
                                                <div class="col-md">
                                                    <div class="form-floating">
                                                        <input
                                                                id="title"
                                                                class="form-control"
                                                                placeholder="."
                                                                minlength="3"
                                                                maxlength="80"
                                                                required
                                                                th:field="*{title}"
                                                        >
                                                        <label for="title">Tytuł</label>
                                                    </div>
                                                </div>

                                                <div class="col-md">
                                                    <div class="form-floating">
                                                        <input
                                                                id="releaseDate"
                                                                class="form-control"
                                                                placeholder="."
                                                                type="date"
                                                                required
                                                                th:field="*{releaseDate}"
                                                        >
                                                        <label for="releaseDate">Premiera</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card-body">
                                            <div class="row g-2">
                                                <div class="col-md">
                                                    <div class="form-floating">
                                                        <select
                                                                id="type"
                                                                class="form-control"
                                                                required
                                                                th:field="*{type}"
                                                        >
                                                            <option
                                                                    th:each="i : ${movieTypeList}"
                                                                    th:text="${i.polishName}"
                                                                    th:value="${i}"
                                                            ></option>
                                                        </select>
                                                        <label for="type">Typ</label>
                                                    </div>
                                                </div>

                                                <div class="col-md">
                                                    <div class="form-floating">
                                                        <select
                                                                id="cinemaId"
                                                                class="form-control"
                                                                required
                                                                th:field="*{cinemaId}"
                                                        >
                                                            <option
                                                                    th:each="i : ${cinemaList}"
                                                                    th:text="${i.name}"
                                                                    th:value="${i.id}"
                                                            ></option>
                                                        </select>
                                                        <label for="cinemaId">Kino</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card-body">
                                            <div class="row g-2">
                                                <div class="col-md">
                                                    <div class="form-floating">
                                                        <select
                                                                id="stageManagerId"
                                                                class="form-control"
                                                                required
                                                                th:field="*{stageManagerId}"
                                                        >
                                                            <option
                                                                    th:each="i : ${stageManagerList}"
                                                                    th:text="${i}"
                                                                    th:value="${i.id}"
                                                            ></option>
                                                        </select>
                                                        <label for="stageManagerId">Reżyser</label>
                                                    </div>
                                                </div>

                                                <div class="col-md">
                                                    <div class="form-floating">
                                                        <input
                                                                id="durationInMinutes"
                                                                class="form-control"
                                                                placeholder="."
                                                                type="number"
                                                                min="0"
                                                                max="999"
                                                                required
                                                                th:field="*{durationInMinutes}"
                                                        >
                                                        <label for="durationInMinutes">Czas trwania w minutach</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="mt-2" style="text-align: center">
                                            <button class="btn btn-primary" type="submit">Zapisz</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h1 class="h3 mb-3">Lista aktorów
                            <a th:href="${'addActor?movieId=' + editDto.id}">
                                <i class="align-middle me-2 fas fa-fw fa-plus-square"></i>
                            </a>
                        </h1>
                    </div>
                    <div class="card-body">
                        <table id="datatables-reponsive" class="table table-striped">
                            <thead>
                            <tr>
                                <th>LP</th>
                                <th>Imię</th>
                                <th>Nazwisko</th>
                                <th style="width: 5%">Akcje</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="i, item : ${actorList}">
                                <td th:text="${item.index + 1}"></td>
                                <td th:text="${i.firstName}"></td>
                                <td th:text="${i.lastName}"></td>
                                <td class="table-action">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary dropdown-toggle"
                                                data-bs-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                            Akcje
                                        </button>
                                        <div class="dropdown-menu">
                                            <form action="removeActor" method="post">
                                                <input type="hidden" name="movieId" th:value="${editDto.id}">
                                                <input type="hidden" name="actorId" th:value="${i.id}">
                                                <button class="dropdown-item" type="submit">Usuń</button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h1 class="h3 mb-3">Repertuar
                            <a href=""
                               data-bs-toggle="modal"
                               data-bs-target="#movieDateModal"
                            >
                                <i class="align-middle me-2 fas fa-fw fa-plus-square"></i>
                            </a>
                        </h1>
                    </div>
                    <div class="card-body">
                        <table id="datatables-reponsive" class="table table-striped">
                            <thead>
                            <tr>
                                <th>LP</th>
                                <th>Data</th>
                                <th>Rozpoczęcie</th>
                                <th>Zakończenie</th>
                                <th style="width: 5%">Akcje</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="i, item : ${movieDateList}">
                                <td th:text="${item.index + 1}"></td>
                                <td th:text="${i.date}"></td>
                                <td th:text="${i.startTime}"></td>
                                <td th:text="${i.endTime}"></td>
                                <td class="table-action">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary dropdown-toggle"
                                                data-bs-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                            Akcje
                                        </button>
                                        <div class="dropdown-menu">
                                            <form action="removeMovieDate" method="post">
                                                <input type="hidden" name="movieId" th:value="${editDto.id}">
                                                <input type="hidden" name="movieDateId" th:value="${i.id}">
                                                <button class="dropdown-item" type="submit">Usuń</button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>

        <div class="modal fade" id="movieDateModal" tabindex="-1" role="dialog"
             aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div>
                        <div>
                            <div class="modal-header">
                                <h5 class="modal-title">Dodaj repertuar</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>

                            <div class="card-body">
                                <form action="addMovieDate" method="post">
                                    <input type="hidden" name="movieId" th:value="${editDto.id}">

                                    <div class="row g-2">
                                        <div class="col-md">
                                            <div class="form-floating">
                                                <input
                                                        id="date"
                                                        class="form-control"
                                                        placeholder="."
                                                        type="date"
                                                        required
                                                        name="date"
                                                >
                                                <label for="date">Data</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row g-2" style="margin-top: 10px">
                                        <div class="col-md">
                                            <div class="form-floating">
                                                <input
                                                        id="startTime"
                                                        class="form-control"
                                                        placeholder="."
                                                        type="time"
                                                        required
                                                        name="startTime"
                                                >
                                                <label for="startTime">Rozpoczęcie</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row g-2" style="margin-top: 10px">
                                        <div class="col-md">
                                            <div class="form-floating">
                                                <input
                                                        id="endTime"
                                                        class="form-control"
                                                        placeholder="."
                                                        type="time"
                                                        required
                                                        name="endTime"
                                                >
                                                <label for="endTime">Zakończenie</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="mt-2" style="text-align: center">
                                        <button class="btn btn-primary" type="submit">
                                            Zapisz
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                Zamknij
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer th:replace="fragments/footer::footer"></footer>
    </div>
</div>

<div th:replace="fragments/bottomImports::bottomImports"></div>

</body>

</html>